@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* .swiper {
  padding: 0 40px !important;
} */
/* Hide default Swiper navigation buttons */


/* Custom navigation visibility */
